{% extends 'base.html' %}

{% block title %}
    <title>Librarian</title>
{% endblock %}    

{% block body %}
    <h1>Welcome Librarian</h1>
    <h2>
        What actions would you like to perform
    </h2>
    <form action="#" method="post">
        <p><input class = "form-submit" type="submit" value="Check Book Status" name="Check Book Status"/></p>
        <p><input class = "form-submit" type="submit" value="Enter New Books" name="Enter New Books"/></p>
        <p><input class = "form-submit" type="submit" value="Check Book Transactions" name="Check Book Transactions"/></p>
    </form>

    <form style="margin-top: 5rem" action="{{url_for('index')}}">
        <p><input class = "form-submit" type="submit" value="Go to Home"/></p>
    </form>
{% endblock %}