{% extends 'base.html' %}

{% block title %}
    <title>Student - Login</title>
{% endblock %}    

{% block body %}
    <h1>Welcome Student</h1>
    <h2>
        Please enter your credentials
    </h2>
    <form action="#" method="post">
        <p><input class="input-control" type="text" name="Student-Name" placeholder="Your Name" required/></p>
        <p><input class="input-control" type="email" name="Student-Email" placeholder="Your Email" required/></p>
        <p><input class = "form-submit" type="submit" value="Submit"></p>
    </form>

    <h2 style="margin-top: 5rem">Not a Member - Sign UP</h2>
    <form action="{{url_for('student_register')}}">
        <p><input class = "form-submit" type="submit" value="Register"/></p>
    </form>
{% endblock %}