{% extends 'base.html' %}

{% block title %}
    <title>Student</title>
{% endblock %}    

{% block body %}
    <h1>Welcome Student</h1>
    <h2>
        Are you present in the system?
    </h2>
    <form action="#" method="post">
        <p><input class = "form-submit" type="submit" value="Register" name="Register-New-Student"/></p>
        <p><input class = "form-submit" type="submit" value="Login" name="Login-Existing-Student"/></p>
    </form>

    <form style="margin-top: 5rem" action="{{url_for('index')}}">
        <p><input class = "form-submit" type="submit" value="Go to Home"/></p>
    </form>
{% endblock %}